.search-form{
    padding-top:4px;
    padding-right: 10px;
}

.search-label{
    margin-left:5px;
    /*float:left;*/
}

.search-checkbox{
    float:left;
    margin-top: 3px;
    margin-right: 3px;
}

#category-dropdown, #difficulty-dropdown{
    cursor: pointer;
}