{% extends 'base.html' %}
{% block content %}
<style type="text/css">
/*#book-summary{
  background-color: red;
}*/
/*.author{
  justify-content: center;
}
.book-authors{
  justify-content: center;
}*/
/*img {
 width: 100%;
 height: auto;
}*/
</style>
  <div class="topnav">
  <a class="active" href="/User/{{user.user_id}}">Home</a>
  <a href="/books/1">Browse</a>
  <a href="/search-books">Search</a>
  <div class="topnav-right">
    <a href="/logout">Log out</a>  
  </div>
</div>


<div class="top-level">
<div class="top">
 <h1 class='book'>{{ book.title }}</h1>
 <div class="book-authors"><h2 class-"author">by: {{ author.name }}</h2>
  </div>
</div>

<div class="middle">
  {% if cover_img %}
  <div id="book-img">
    <span id ="cover-img">
      <img src="{{ cover_img }}" alt="Cover photo" id="cover-thumbnail">
    </span>
      <form action="/add_book/{{book.book_id}}" method="POST">
    <label>Would you like to add this book to your book shelf?</label> <button class='save'>Save</button>
    {% endif %}
  </form>
  </div>
  

  {% if summary %}
  <br>
  <div id="book-summary">Summary: 
      <p>{{ summary }}</p>
  {% endif %}
  </div>
</div>

<div class="bottom">
   <a id="author" href="/Author/{{ author.author_id }}">Want to see more by this author?</a>


</div>
</div>
{% endblock %}

<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="static/project.js"></script>

