{% extends 'base.html' %}
{% block content %}

  <h1 class='book'>{{ book.title }}</h1>
  <h2>{{ author.name }}</h2>
  
   <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-10 mx-auto">
        {% if cover_img %}
          <div id="book-img">
            <span id ="cover-img">
              <img src="{{ cover_img }}" alt="Cover photo" id="cover-thumbnail">
            </span>
          </div>
        </div>
        {% endif %}
<div>
    <form action="/add_book/{{book.book_id}}" method="POST">
Would you like to add this book to your book shelf? <button class='save'>Save</button>
    </form>
</div>

{% endblock %}

<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="static/project.js"></script>

