{% extends 'base.html' %}
{% block content %}

  <h1>Search books by title</h1>

  <form id="getInfo">
    <label>Enter title:
    <input type="text" id="book" name="book"></input></label>
    <input type="submit" value="Submit">
  </form>
    <form id="getInfo">
    <label>Search by Author:
    <input type="text" id="author" name="author"></input></label>
    <input type="submit" value="Submit">
  </form>

 <div>Search Results</div>
<p id="book-results"> 
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/static/project.js"></script>



{% endblock %}


