
    
{% extends 'base.html' %}
{% block content %}

  <div class="topnav">
  <a class="active" href="/User/{{user.user_id}}">Home</a>
  <a href="/books/1">Browse</a>
  <a href="/search-books">Search</a>
  <div class="topnav-right">
    <a href="/logout">Log out</a>  
  </div>
</div>


  <h1>{{ user.fname.title() }} {{ user.lname.title() }}</h1>
  <p>email: {{ user.email }}</p>


  <div class="top-level">
  <h2>My Library</h2>
    <ul id="bookUl">
    {% if user.book_shelves %}
      {% for book_shelf in user.book_shelves %}
      <li class="shelf_element"><img height="201px" width="128px" style="object-fit: contain; background-color: grey;" src="{{ book_shelf.cover_img }}"><form action="/delete_book/{{book_shelf.booking_id}}" method="POST"><button> Delete</button></form></li>
    {% endfor %}
    </ul>
  <a href="/graph">Library Graph</a>
  {% endif %}
</div>
{% endblock %}